<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div>
      <a *ngFor="let menu of menus" mat-button [routerLink]="menu.url"> {{menu.title}} </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/movie'"> Add Movie </a>
      <a mat-button [routerLink]="'/top'"> Top 5 Movies </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
