<div style="width:100%; text-align: right"><button mat-raised-button  color="primary" (click)="addMovie()">Add Movie</button></div>
<mat-card *ngIf="movie">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        {{movie.title}}
      </mat-card-title>
      <mat-card-subtitle>
        Release Date: {{movie.release | date: 'dd/MM/yyyy'}}
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div>
      <img [src]="showImage(movie.image)" [alt]="movie.title">
    </div>
    <p>{{movie.description}}</p>
  </mat-card-content>
</mat-card>
