mat-card {
  margin: 10px;
  padding: 0;
  width: 60%;
  margin: 0 auto;
  display: block;
  min-height: 55vh;
  background-color: #f8f8f8;
  box-shadow: 7px 8px 25px #888885;
}

mat-card mat-card-header {
  width: 100%;
  box-shadow: 7px 8px 25px #888885;
  background-color: #004c40;
  height: 60px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  mat-card-title {
    color: #fff !important;
  }
}

mat-card mat-card-header mat-card-title {
  color: blue;
  text-align: left;
  width: 100%;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
}

mat-form-field{
  width: 24%;
  margin-right: 4vw;
  margin-bottom: 100px;
}

.row {
  width: 85vw;
}

.data {
  display: flex;
  flex-direction: row;
}

@media (max-width: 750px) {
  .data {
    flex-direction: column;
  }
  img {display: block}
}

.btn-action {
  width: 80%;
  top: -10px;
  position: relative;
  left: 93%;
}
